<div class="row bg-transparent  p-5 m-2">
	<div class=" d-none d-md-block d-lg-block d-xl-block ">
		<div class="card text-center bg-transparent">
			<div class="card-body">
				<h5 class="card-title">Special trick cours</h5>
				<p class="card-text">With supporting of snowtricks cours you will get to other level
				</p>
				<a href="#" class="btn btn-primary">Find my coach</a>
			</div>
			<div class="card-footer text-muted ">
				Copyright © Snowtricks
			</div>
		</div>
	</div>
	<div class="d-flex flex-row  justify-content-between d-block  d-xs-sm-block d-md-none">
		<a class="nav-link" href="{{path('app_home')}}">
			<i class="bi bi-house-fill" style="font-size:2rem"></i>
		</a>
		<a class="nav-link" href="">
			<i class="bi bi-bookmark-fill" style="font-size:2rem"></i>
		</a>
		<a class="nav-link" href="{{path (app.user ? 'app_logout' : 'app_login')}}">
			<i class="bi bi-box-arrow-in-right" style="font-size:2rem"></i>
		</a>

	</div>

</div>
