{% extends 'base.html.twig' %}

{% block title %}Forgotten Password
{% endblock %}

{% block body %}

	<div class="container d-flex justify-content-center">

		<div class="col-6 col-sm-6">
			<h1>
				Forgotten Password</h1>
			{{ form_start(forgottenPasswordForm) }}
			{{ form_row(forgottenPasswordForm.email) }}
			<button type="submit" class="btn btn-primary opacity-75">Send</button>
			{{ form_end(forgottenPasswordForm) }}
		</div>
	</div>


{% endblock %}
