{% extends 'base.html.twig' %}

{% block title %}Hello Tricks!
{% endblock %}

{% block body %}
	<h1>Tricks Page</h1>
	{% if tricks %}
		{% for trick in tricks %}

			<p>{{trick.description}}</p>

		{% endfor %}
	{% endif %}


{% endblock %}
