{% extends 'base.html.twig' %}

{% block title %}Hello Tricks!
{% endblock %}

{% block body %}
<div class="container text-center">
	<div class="row row-cols">
		<div class="col">
			<h1>Update Page</h1>
			{{form_start(form)}}
			{{form_widget(form)}}
			<button type="submit" class="btn btn-primary">Update Trick</button>
			{{ form_end(form) }}
		</div>

	</div>
</div>{% endif %}{% endblock %}
